#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#head{
  height: 10%;
  color:transparent !important;
}
#im{
  max-width: 3cm;
  max-height: 2.5cm;
  text-align: center;
}
#c {
  display: block;
  margin: 0 auto;
}
ion-col {
  display: flex;
  align-items: center;
  justify-content: center;
}
#c {
  max-width: 100%; }
#ca {
  width: 40%;
  height: 40%; }
  

  .show-on-desktop {
    display: block; 
  }
  
  .show-on-mobile {
    display: none; 
  }

  @media (max-width: 768px) {
    .show-on-desktop {
      display: none;
    }
  
    .show-on-mobile {
      display: block;
    }
  }