<ion-header size="2" id="head" [translucent]="true">
  <ion-grid size="4" >
    <ion-row size="4">
      <ion-col size="4">
        <img size="" id="im"src="assets/img/Logo ZonaMarket1.png" />
      </ion-col>
    </ion-row>
  </ion-grid>   
  </ion-header>

<ion-content [fullscreen]="true" class="fondo">
<ion-grid class ="container">
  <ion-row>
    <ion-col  style="font-size: 45px; " size="12">¿ Quieres Conocer todos los comercios que exiten cerca de ti ?</ion-col>
    <ion-col size="12" >Nuestra aplicacion te ayudara a buscar comercios  a tu alrededor, donde sea que estes en el mundo, en nuestra aplicacion tu puedes agregar los comercios que tu conozcans rellenado un formulario con sus datos para que cada persona que utilice la aplicacion pueda descubrir todos los comercios que nuestros usuarios deseen agregar</ion-col>
    <ion-col size="12" >        
      <div class="ion-text-center"> 
        <img id="c" src="assets\img\Captura_de_pantalla_2023-12-11_123721-removebg-preview.png" />
      </div>
    </ion-col>
    <ion-col size="12" style="font-size: 45px; " >Descarga Nuestra App Y Descubre lo que te rodea</ion-col>
    <ion-col size="12">
      <div id="qrCode" class="show-on-desktop ion-text-center">
        <img id="ca" src="assets\img\Mi_App.png" />
      </div>
    </ion-col>
    <ion-col size="12" >
      <div class="ion-text-center">
        <ion-button color="danger" expand="block" class="show-on-mobile" (click)="redirigirADrive()">Descargar App</ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
